{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            {{username}}<br/>
            {{pwd}}<br/>
            {{Cpwd}}<br/>
            {{email}}
        </div>
        <p>Is your information correct?</p>
        <button class="btn btn-primary">
            Yes!! Sign Me Up.
        </button>
    </div>
    
{%endblock%}


