{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <p>
            Hello Justin
        </p>
        <p>
            <?php 

            echo $_POST["username" + "pwd"];

            ?>
        </p>
    </div>
{%endblock%}